
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Keywords" content="网站关键词">
    <meta name="Description" content="网站介绍">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/reg.css">
</head>
<body>
<div id="ajax-hook"></div>
<div class="wrap">
    <div class="wpn">
        <div class="form-data pos">
            <a href=""><img src="/img/logo.png" class="head-logo"></a>
            
            <div id="result" name="result" style="margin-left:140px"></div>
            <div class="change-login">
                <p class="account_number on">账号登录</p>
            </div>
            
            <form id="submit" name="submit"  action="/textAnalysis/login/loginPost" method="post" >
            <div class="form1">
                <p class="p-input pos">
                    <label for="num" id="forNum">手机号/邮箱</label>
                    <input type="text" id="num">
                    <span class="tel-warn num-err hide"><em>账号或密码错误，请重新输入</em><i class="icon-warn"></i></span>
                </p>
                <p class="p-input pos">
                    <label for="pass">请输入密码</label>
                    <input type="password" style="display:none"/>
                    <input type="password" id="pass" autocomplete="new-password">
                    <span class="tel-warn pass-err hide"><em>账号或密码错误，请重新输入</em><i class="icon-warn"></i></span>
                </p>
            </div>
            </form>
            <div class="r-forget cl">
                <a href="./register" class="z">账号注册</a>
                <a href="./getpass" class="y">忘记密码</a>
            </div>
            <button class="lang-btn off log-btn" onclick="sendBtn()">登录</button>

            <p class="right">Powered by © 2018</p>
        </div>
    </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/agree.js"></script>
<script src="/js/login.js"></script>
<script src="/js/jquery.md5.js"></script>
<div style="text-align:center;">
</div>
</body>
</html>