<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>User registration</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="Website keywords">
    <meta name="Description" content="Website introduction">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/reg.css">
</head>
<body>
    <div id="ajax-hook"></div>
    <div class="wrap">
        <div class="wpn">
        
        	
        	
            <div class="form-data pos">
                <a href=""><img src="/img/logo.png" class="head-logo"></a>
                <!--<p class="tel-warn hide"><i class="icon-warn"></i></p>-->
                <div id="result" name="result" style="margin-left:140px"></div>
                <form id="submit" name="submit" >
                    <p class="p-input pos" id="email">
                        <label for="mail">E-mail</label>
                        <input type="text" id="mail" name="mail">
                        <span class="error hide"><em></em><i class="icon-warn" style="margin-left: 5px"></i></span>
                    </p>
            
                 
                    <p class="p-input pos" id="pwd">
                        <label for="passport">Enter password</label>
                        <input type="password" id="password" name="password">
                        <span class="tel-warn pwd-err hide"><em></em><i class="icon-warn" style="margin-left: 5px"></i></span>
                    </p>
                    <p class="p-input pos" id="confirmpwd">
                        <label for="password2">Confirm password</label>
                        <input type="password" id="password2">
                        <span class="tel-warn confirmpwd-err hide"><em></em><i class="icon-warn" style="margin-left: 5px"></i></span>
                    </p>
                </form>
                <div class="reg_checkboxline pos">
                    <span class="z"><i class="icon-ok-sign boxcol" id="box"></i></span>
                    <input type="hidden" name="agree" value="1">
                    <div class="Validform_checktip"></div>
                    <p>I have read and accepted  <a href="#" target="_brack">the Text Analysis System Agreement Description</a></p>
                </div>
                <button class="lang-btn" onclick="check()">Register</button>
                <div class="bottom-info">If you have an account, <a href="./index">sign in.</a></div>

                <p class="right">Powered by © 2018</p>
            </div>
        </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/agree.js"></script>
    <script src="/js/reg.js"></script>
    <script src="/js/jquery.md5.js"></script>

	<div style="text-align:center;">
<p></p>
</div>
</body>
</html>
